[Unit]
Description=OpenStack Quantum NEC OpenFlow Agent
After=syslog.target network.target

[Service]
Type=simple
User=quantum
ExecStart=/usr/bin/quantum-nec-agent /etc/quantum/plugins/nec/nec.ini
PrivateTmp=true

[Install]
WantedBy=multi-user.target
