[Unit]
Description=OpenStack Quantum Ryu Network Operating System Agent
After=syslog.target network.target

[Service]
Type=simple
User=quantum
ExecStart=/usr/bin/quantum-ryu-agent /etc/quantum/plugins/ryu/ryu.ini

[Install]
WantedBy=multi-user.target
