[Unit]
Description=OpenStack Quantum Open vSwitch Agent
After=syslog.target network.target

[Service]
Type=simple
User=quantum
ExecStart=/usr/bin/quantum-openvswitch-agent /etc/quantum/plugins/openvswitch/ovs_quantum_plugin.ini

[Install]
WantedBy=multi-user.target
