[Unit]
Description=OpenStack Quantum Linux Bridge Agent
After=syslog.target network.target

[Service]
Type=simple
User=quantum
ExecStart=/usr/bin/quantum-linuxbridge-agent /etc/quantum/plugins/linuxbridge/linuxbridge_conf.ini

[Install]
WantedBy=multi-user.target
